# :no_entry: **Reservation Request Rejected**

Your request did not pass validation! Please check the following errors and fix them by editing your original issue body.

<!--markdownlint-disable MD032-->

{{#each errors}}
- {{this}}
{{/each}}

This message will be updated automatically when you edit your issue body.
